/* Global styles */

html, body {
    height: 100%;  /* Make sure the body takes up the full viewport height */
    margin: 0;     /* Remove default margin */
    
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    background-color: #333;
    color:white;
    padding: 5px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav .active {
    font-weight: bold;
    color: #FFA500;
    font-size: 18px;
}

.toggleButton {
    margin: 0px;
    position: absolute;
    top: 0;
    left: 0;

    padding: 5px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Main content */
main {
    flex: 1;
    padding: 20px;
    text-align: center;
}

#contactForm {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    margin-left: auto;
    margin-right: auto;
    width: 80%; /* Set width of the form */
    max-width: 600px; /* Max width for form */
}

/* Group for name and email inputs side by side */
.input-group {
    display: flex;
    gap: 10px; /* Space between the fields */
    margin-left: 0px;
    margin-right: 0px;
}

/* Style for input and textarea fields */
input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%; /* Default to full width */
    font-size: 16px;
}

#name, #email {
    flex: 1;
}

/* Style for the message textarea to make it as wide as the combined input fields */
.message {
    display: flex;
}
#message {
    flex: 1;
    /*width: 100%;*/
    margin-top: 10px; /* Space between fields */
    height: 150px; /* Set a height for the message box */
}

/* Button styles */
button.submit {
    align-self: flex-end; /* Align the button to the right */
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

/* Button hover effect */
button:hover {
    background-color: #555;
}

/* Footer */
footer {
    margin: 0px;
    text-align: center;
    padding: 5px;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

article {
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 30px;
    text-align: left;
    background-color: rgba(240, 210, 170, 0.6);
    border-radius: 50px;
    width: 55%;
}

.dark-mode {
    background-color: #333;
    color: white;
}

